<%- include('./partials/header.ejs') %>
<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-sm-3">
      <%- include('./partials/sidebar.ejs',{page_name:'Services'}) %>
    </div>
    <div class="col-sm-9">
      <!-- Main content -->
      <div class="conatiner mt-5">
        <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
        <div class="row text-center text-white mb-5">
          <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Explicabo beatae odio tempora corporis corrupti eligendi itaque
            </p>
          </div>
          <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Explicabo beatae odio tempora corporis corrupti eligendi itaque
            </p>
          </div>
          <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Explicabo beatae odio tempora corporis corrupti eligendi itaque
            </p>
          </div>
          <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>Authorisation</h3>
            <p class="ss-color">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Explicabo beatae odio tempora corporis corrupti eligendi itaque
            </p>
          </div>
          <div class="col-sm-4">
            <i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Explicabo beatae odio tempora corporis corrupti eligendi itaque
            </p>
          </div>
          <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Explicabo beatae odio tempora corporis corrupti eligendi itaque
            </p>
          </div>
          <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Explicabo beatae odio tempora corporis corrupti eligendi itaque
            </p>
          </div>
          <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>Authorisation</h3>
            <p class="ss-color">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Explicabo beatae odio tempora corporis corrupti eligendi itaque
            </p>
          </div>
          <div class="col-sm-4">
            <i class="fas fa-palette fa-2x mb-3 i-color"></i>
            <h3>Authorisation</h3>
            <p class="ss-color">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Explicabo beatae odio tempora corporis corrupti eligendi itaque
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer.ejs')%>
